#PRUEBA DE EVALUACIÓN DE CONOCIMIENTOS

##TIPO DE DATOS
1. Numérico
- Entero: int
- Decimal: float
2. Alfanumerico o cadena de caracteres.
(String - str)
3. Logico: Boolean - bool
4. Lista: list [ ]
5. Diccionario: dict { }

Para saber qué tipo de datos estamos manipulando, se usa la función type ()

In [ ]:
5+3*4

17

In [ ]:
type(5+3*4)

int

In [ ]:
print(f"5+3*4={5+3*4} y da como resultado un valor de tipo {type(5+3*4)}")

5+3*4=17 y da como resultado un valor de tipo <class 'int'>

In [ ]:
"3"*2

'33'

In [ ]:
#Cuando se usa + en strings, sucede la concatenación
"5" + "3" * 2

'533'

In [ ]:
type("5" + "3" * 2)

str

In [ ]:
#= es asignación. == es comparación
2 ** 11 == 1000

False

##OPERACIONES LOGICAS
1. Disyunción (o): Una proposición es verdadera, si al menos una de ella lo es.
En python se puede enunciar con la palabra **or** o con **||**.

Ejemplo V or V = V
V or F = V
F or V = V
F or F = F

2. Conjunción (y): Una proposición es verdadera, si Y SOLO SI, ambas preposiciones son verdaderas. En python, se utiliza la palabra **and** o **&&** para su uso.

Ejemplo F and F = F
F and V = F
V and V = V

3. Negación (no): Niega el valor de verdad de una proposición. Si el valor de verdad es true, se vuelve false. En python se usa la palabra **not** o ~ para denotarla.

In [ ]:
print(f"La expresion 2 ** 11 == 1000 or 2 ** 9 == 100 da: {2 ** 11 == 1000 or 2 ** 9 == 100} y es de tipo {type(2 ** 11 == 1000 or 2 ** 9 ==100)}")

La expresion 2 ** 11 == 1000 or 2 ** 9 ==100 da: False y es de tipo <class 'bool'>

In [ ]:
a = 2 ** 11 == 1000 or 2 ** 9 == 100

In [ ]:
print(f"La expresion 2 ** 11 == 1000 or 2 ** 9 == 100 da: {a} y es de tipo {type(a)}")

La expresion 2 ** 11 == 1000 or 2 ** 9 == 100 da: False y es de tipo <class 'bool'>

In [ ]:
#Colocar un tipo de dato antes del dato, se usa para transformar el dato dentro del parenteseis en el dato por fuera del parentesis.
int("cincuenta")

ValueError: invalid literal for int() with base 10: 'cincuenta'

In [ ]:
int("50")

50

In [ ]:
str("50")

'50'

In [ ]:
#Siempre que halla una división, el resultado dará decimal
b=16/16 + 384/24

In [ ]:
print(f"La operacion 16/16 + 384/24 da {b}, y es de tipo {type(b)}")

La operacion 16/16 + 384/24 da 17.0, y es de tipo <class 'float'>

In [ ]:
# % es el módulo de la operación. (El modulo o MOD es el residuo de la división)
600 + 18%2

600

In [ ]:
c=0 < (4096%10) < 6

In [ ]:
print(f"La operacion 0 < (4096%10) < 6 da {c} y es de tipo {type(c)}")

La operacion 0 < (4096%10) < 6 da False y es de tipo <class 'bool'>

In [ ]:
d= 'Max' + 'Min'

In [ ]:
print(f"La operacion 'Max' + 'Min' da {d} y es de tipo {type(d)}")

La operacion 'Max' + 'Min' da MaxMin y es de tipo <class 'str'>

In [ ]:
#ABC() es una función no definida
ABC() + DEF()

NameError: name 'ABC' is not defined

In [ ]:
float(-int("7")+int('90))

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-28-c81e33bedfc5>, line 1)

1. abs = valor absoluto.
2. len = cuenta la cantidad de letras de un string

- len('seis')= 4
- len('tres')= 4

In [ ]:
abs(len('seis') - len ('tres'))

0

In [ ]:
print(f"La operación abs(len('seis') - len ('tres')) da {abs(len('seis') - len ('tres'))} y es de tipo {type(abs(len('seis') - len ('tres')))}  ")

La operación abs(len('seis') - len ('tres')) da 0 y es de tipo <class 'int'>

In [ ]:
#Todos los numeros a exepción de 0, da true al convertirlos a booleanos

e = bool(1210) or bool (-3465)

In [ ]:
print(f"La operación bool(1210) or bool (-3465) da {e} y es de tipo {type(e)}  ")

La operación bool(1210) or bool (-3465) da True y es de tipo <class 'bool'>

In [ ]:
#Todos los string son listas, por ende podemos conocer la posición de cada uno de sus elemenetos. En python se empieza contando desde 0
float(str(int('8' * 3 /3)[3]))

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
print("Jorge Vasquez, 24/12/06")

Jorge Vasquez, 24/12/06