# Listado de Ejercicios a realizar

## 1. Sin usar el computador, evalúe las siguientes expresiones, y para cada una de ellas indique el resultado y su tipo (si la expresión es válida) o qué error ocurre:

### Ejemplo
- 2 + 3      # Respuesta: tipo int, valor 5
- 4 / 0      # Respuesta: error de división por cero

### Ejercicio

- 5 + 3 * 4: 17
- '5' + '3' * 2
- 2 ** 11 == 1000 or 2 ** 9 == 100
- int("cincuenta")
- 16/16 + 384/24
- 600 + 18%
- 0 < (4096 % 10) < 6
- 'Max' + 'Min'
- ABC() * DEF()
- float(-int("7")+int('90))
- abs(len('seis') - len('tres'))
- bool(1210) or bool(-3465)
- float(str(int('8' * 3) / 3)[3])

#Respuesta

# 2. Imprima su nombre y fecha
- Imprime: Jorge Alvarez - 20-04-2020

In [2]:
# Respuesta:
print("juan felipe montoya - 15/08/2024")

juan felipe montoya - 15/08/2024

# 3. Solicite un nombre y que el programa salude
### Ejemplo:
- ingreso: 'Andres'
- imprime: 'Hola Andres'

In [ ]:
x=input("Hola, ¿Cómo te llamas? ")
print(f"Hola {x} ¿Qué necesitas?")

Hola, ¿Cómo te llamas? Andres
Hola Andres ¿Qué necesitas?

# 4. Solicite el radio (un numero) de un círculo e imprima como salida su diámetro, perímetro y su área
### Ejemplo
- ingreso: 3
- imprime - Diametro: 6
- imprime - Perimetro: 18.84
- imprime - Area: 28.27

In [ ]:
r=float(input("Ingrese el radio del circulo "))
d=r*2
p=3.14*d
a=3.14*r**2
print(f"Diametro: {d}")
print(f"Perimetro: {p}")
print(f"Area: {a}")

Ingrese el radio del circulo 3
Diametro: 6.0
Perimetro: 18.84
Area: 28.26

# 5. Solicite 6 notas y calcule el promedio de ellas
### Ejemplo
- ingreso: 1 2 3 4 5 6
- imprime: 3.5

In [ ]:
# Respuesta:

n1=float(input("Ingresa las 6 notas del estudiante "))
n2=float(input("Ingresa las 6 notas del estudiante "))
n3=float(input("Ingresa las 6 notas del estudiante "))
n4=float(input("Ingresa las 6 notas del estudiante "))
n5=float(input("Ingresa las 6 notas del estudiante "))
n6=float(input("Ingresa las 6 notas del estudiante "))

totaln=n1+n2+n3+n4+n5+n6
prom=totaln/6
print(f"El promedio de las notas es: {prom}")

Ingresa las 6 notas del estudiante 1
Ingresa las 6 notas del estudiante 2
Ingresa las 6 notas del estudiante 3
Ingresa las 6 notas del estudiante 4
Ingresa las 6 notas del estudiante 5
Ingresa las 6 notas del estudiante 6
El promedio de las notas es: 3.5

# 6. Solicite un valor e imprima que tipo de dato es
### Ejemplo
- ingreso: 'A'
- imprime: str
- ingreso: 1
- imprime: int

In [ ]:
# Respuesta:
v=int(float(input("Ingrese el valor deseado ")))
print(f"El valor {v} es de tipo {type(v)}")

Ingrese el valor deseado 4
El valor 4 es de tipo <class 'int'>

# 7. Escriba en código la siguiente ecuación
$$ \left(\frac{5+3}{3-2}\right)^2$$

In [ ]:
# Respuesta
e=(5+3)/(3-2)
r=e**2
print(r)

64.0

# 8. Solicite número de horas trabajadas y coste por horas e imprima el valor
### Ejemplo:
- Ingreso: 4 (horas)
- ingreso: 80.000 (precio x hora)
- imprime: 320.000

In [ ]:
# Respuesta
nh = float(input("Ingrese el número de horas trabajadas:"))
vh = int(input("Ingrese el valor al cual se liquida cada hora: "))

total=nh*vh
print(f"El valor total a liquidar por las horas trabajadas es de: {total} ")

Ingrese el número de horas trabajadas:4
Ingrese el valor al cual se liquida cada hora: 80000
El valor total a liquidar por las horas trabajadas es de: 320000.0

# 9. Solicite la temperatura en grados Celsius e imprima en grados Kelvin y Fahrenheit
### Ejemplo:
- ingreso: 38 (°C)
- imprime: 311.15 °K
- imprime: 100.4 °F

In [ ]:
# Respuesta

c=float(input("Ingresa la temperatura en grados Celsius: "))
k=c+273.15
f=c+32*(9/5)

if k < 0:
  print("La temperatuura en kelvin no puede ser menor a 0")
else:
  print(f"La temperatura en kelvin es: {k}")


print(f"La temperatura en fahrenheit es: {f}")

Ingresa la temperatura en grados Celsius: -274
La temperatuura en kelvin no puede ser menor a 0
La temperatura en fahrenheit es: -216.4

# 10. Solicite 2 numeros e imprima si el segundo es mayor  
### Ejemplo:
- ingreso: 2
- ingreso: 3
- impmrime: True

In [ ]:
# Respuesta
n1=float(int(input("Ingrese el primer numero: ")))
n2=float(int(input("Ingrese el segundo numero: ")))

if n2>n1:
  print("True")
else:
  print("False")

Ingrese el primer numero: 5
Ingrese el segundo numero: 3
False

# 11. Solicite 2 numeros e imprima si el segundo es menor  
### Ejemplo:
- ingreso: 2
- ingreso: 3
- impmrime: False

In [ ]:
# Respuesta

n1=float(int(input("Ingrese el primer numero: ")))
n2=float(int(input("Ingrese el segundo numero: ")))

if n2<n1:
  print("True")
else:
  print("False")

Ingrese el primer numero: 5
Ingrese el segundo numero: 8
False

# 12. Solicite una distancia (metros) y la velocidad (metros/segundos) e imprima el tiempo que se demora el recorrido
### Ejemplo:
- ingreso: 150 (metros)
- ingreso: 15 (metros/segundo)
- Imprime: 10 segundos

In [ ]:
# Respuesta

d=float(input("Ingrese la distancia en metros: "))
v = float(input("Ingrese la velocidad en metros por segundo: "))

t=d/v

print(f"El tiempo que demora el recorrido es de: {t} s ")

Ingrese la distancia en metros: 150
Ingrese la velocidad en metros por segundo: 15
El tiempo que demora el recorrido es de: 10.0 s

# 13. Solicite al usuario tres valores y escriba en código la siguiente ecuación
$$ \left(\frac{a+b}{c}\right) ^2 + \left(\frac{a-b}{c}\right) ^ 2 $$

In [ ]:
# Respuesta
v1=(float(int(input("Ingrese el primer valor: "))))
v2=(float(int(input("Ingrese el primer valor: "))))
v3=(float(int(input("Ingrese el primer valor: "))))

e=(((v1+v2)/v3))**2 + (((v1-v2))/v3)**2

print(f"El resultado de la operacion es igual a: {e} ")

Ingrese el primer valor: 1
Ingrese el primer valor: 3
Ingrese el primer valor: 4
El resultado de la operacion es igual a: 1.25

# 14. Investigue como se saca la raíz cuadrada de un número en Python y escriba la solución en el cuadro de abajo

In [ ]:
# Respuesta

from math import sqrt
sqrt(81)

9.0

# 15.  Con lo anterior solicite 2 numeros (Cateto a y Cateto b) e imprima la hipotenusa.
### Ejemplo:
- ingreso: 3 (Cateto a)
- ingreso: 4 (Cateto b)
- imprime: Hipotenusa = 5

In [ ]:
# Respuesta

In [ ]:
c1=float(int(input("Ingrese el primer numero del triangulo rectangulo: ")))
c2=float(int(input("Ingrese el primer numero del triangulo rectangulo: ")))

h=sqrt(c1**2 + c2**2)

print(f"La hipotenusa del triangulo rectangulo es: {h} ")

Ingrese el primer numero del triangulo rectangulo: 4
Ingrese el primer numero del triangulo rectangulo: 3
La hipotenusa del triangulo rectangulo es: 5.0